<!doctype html>
<html ng-app="fuse">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Bank Partner</title>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <link rel='stylesheet' href='../bower_components/perfect-scrollbar/css/perfect-scrollbar.css' />
        <link rel='stylesheet' href='../bower_components/angular-xeditable/dist/css/xeditable.css' />
        <link rel='stylesheet' href='../bower_components/nvd3/build/nv.d3.css' />
        <link rel='stylesheet' href='../bower_components/angular-datatables/dist/css/angular-datatables.css' />
        <link rel='stylesheet' href='../bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css' />
        <link rel='stylesheet' href='../bower_components/sweetalert2/dist/sweetalert2.css' />
        <link rel='stylesheet' href='../bower_components/textAngular/dist/textAngular.css' />
        <link rel='stylesheet' href='../bower_components/fullcalendar/dist/fullcalendar.css' />
        <link rel='stylesheet' href='../bower_components/ng-sortable/dist/ng-sortable.css' />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <link rel="stylesheet" href="app/index.css">
        <!-- endinject -->
        <!-- endbuild -->

        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic'
              rel='stylesheet' type='text/css'>
    </head>

    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <body md-theme="{{vm.themes.active.name}}" md-theme-watch ng-controller="IndexController as vm"
          class="{{state.current.bodyClass || ''}}">

        <!-- SPLASH SCREEN -->
        <ms-splash-screen id="splash-screen">
            <div class="center">
                <div class="logo">
                    <span>BP</span>
                </div>
                <!-- Material Design Spinner -->
                <div class="spinner-wrapper">
                    <div class="spinner">
                        <div class="inner">
                            <div class="gap"></div>
                            <div class="left">
                                <div class="half-circle"></div>
                            </div>
                            <div class="right">
                                <div class="half-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Material Design Spinner -->
            </div>
        </ms-splash-screen>
        <!-- / SPLASH SCREEN -->

        <div id="main" class="animate-slide-up" ui-view="main" layout="column"></div>


        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="../bower_components/angular-messages/angular-messages.js"></script>
        <script src="../bower_components/angular-material/angular-material.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="../bower_components/angular-translate/angular-translate.js"></script>
        <script src="../bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/mobile-detect/mobile-detect.js"></script>
        <script src="../bower_components/moment/moment.js"></script>
        <script src="../bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
        <script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
        <script src="../bower_components/d3/d3.js"></script>
        <script src="../bower_components/nvd3/build/nv.d3.js"></script>
        <script src="../bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
        <script src="../bower_components/datatables.net/js/jquery.dataTables.js"></script>
        <script src="../bower_components/angular-datatables/dist/angular-datatables.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
        <script src="../bower_components/es6-promise/es6-promise.js"></script>
        <script src="../bower_components/sweetalert2/dist/sweetalert2.js"></script>
        <script src="../bower_components/rangy/rangy-core.js"></script>
        <script src="../bower_components/rangy/rangy-classapplier.js"></script>
        <script src="../bower_components/rangy/rangy-highlighter.js"></script>
        <script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
        <script src="../bower_components/rangy/rangy-serializer.js"></script>
        <script src="../bower_components/rangy/rangy-textrange.js"></script>
        <script src="../bower_components/textAngular/dist/textAngular.js"></script>
        <script src="../bower_components/textAngular/dist/textAngular-sanitize.js"></script>
        <script src="../bower_components/textAngular/dist/textAngularSetup.js"></script>
        <script src="../bower_components/flow.js/dist/flow.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
        <script src="../bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script src="../bower_components/ng-sortable/dist/ng-sortable.js"></script>
        <script src="../bower_components/angular-facebook/lib/angular-facebook.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <script src="app/main/product/product.module.js"></script>
        <script src="app/main/product/directives/ms-note-item/ms-note-item.directive.js"></script>
        <script src="app/main/product/directives/ms-note-form/ms-note-form.directive.js"></script>
        <script src="app/main/product/directives/ms-new-note/ms-new-note.directive.js"></script>
        <script src="app/quick-panel/quick-panel.module.js"></script>
        <script src="app/quick-panel/tabs/chat/chat-tab.controller.js"></script>
        <script src="app/main/product/services/labels.service.js"></script>
        <script src="app/core/core.module.js"></script>
        <script src="app/core/directives/ms-widget/ms-widget.directive.js"></script>
        <script src="app/core/directives/ms-timeline/ms-timeline.js"></script>
        <script src="app/core/directives/ms-stepper/ms-stepper.directive.js"></script>
        <script src="app/core/directives/ms-splash-screen/ms-splash-screen.directive.js"></script>
        <script src="app/core/directives/ms-sidenav-helper/ms-sidenav-helper.directive.js"></script>
        <script src="app/core/directives/ms-shortcuts/ms-shortcuts.directive.js"></script>
        <script src="app/core/directives/ms-search-bar/ms-search-bar.directive.js"></script>
        <script src="app/core/directives/ms-scroll/ms-scroll.directive.js"></script>
        <script src="app/core/directives/ms-responsive-table/ms-responsive-table.directive.js"></script>
        <script src="app/core/directives/ms-random-class/ms-random-class.directive.js"></script>
        <script src="app/core/directives/ms-navigation/ms-navigation.directive.js"></script>
        <script src="app/core/directives/ms-nav/ms-nav.directive.js"></script>
        <script src="app/core/directives/ms-material-color-picker/ms-material-color-picker.directive.js"></script>
        <script src="app/core/directives/ms-masonry/ms-masonry.directive.js"></script>
        <script src="app/core/directives/ms-info-bar/ms-info-bar.directive.js"></script>
        <script src="app/core/directives/ms-form-wizard/ms-form-wizard.directive.js"></script>
        <script src="app/core/directives/ms-datepicker-fix/ms-datepicker-fix.directive.js"></script>
        <script src="app/core/directives/ms-card/ms-card.directive.js"></script>
        <script src="app/main/sample/sample.module.js"></script>
        <script src="app/main/sample/sample.controller.js"></script>
        <script src="app/main/product/product.controller.js"></script>
        <script src="app/main/orders/orders.module.js"></script>
        <script src="app/main/orders/orders.controller.js"></script>
        <script src="app/main/auth/auth.module.js"></script>
        <script src="app/main/auth/auth.controller.js"></script>
        <script src="app/core/theming/fuse-theming.service.js"></script>
        <script src="app/core/theming/fuse-theming.config.js"></script>
        <script src="app/core/theming/fuse-themes.constant.js"></script>
        <script src="app/core/theming/fuse-palettes.constant.js"></script>
        <script src="app/core/theming/fuse-generator.service.js"></script>
        <script src="app/core/theme-options/theme-options.directive.js"></script>
        <script src="app/core/services/ms-utils.service.js"></script>
        <script src="app/core/services/ms-api.provider.js"></script>
        <script src="app/core/services/api-resolver.service.js"></script>
        <script src="app/core/directives/highlight.directive.js"></script>
        <script src="app/core/filters/tag.filter.js"></script>
        <script src="app/core/filters/filterByPropIds.filter.js"></script>
        <script src="app/core/filters/filterByIds.filter.js"></script>
        <script src="app/core/filters/basic.filter.js"></script>
        <script src="app/core/filters/altDate.filter.js"></script>
        <script src="app/core/config/fuse-config.provider.js"></script>
        <script src="app/toolbar/toolbar.module.js"></script>
        <script src="app/toolbar/toolbar.controller.js"></script>
        <script src="app/quick-panel/quick-panel.controller.js"></script>
        <script src="app/navigation/navigation.module.js"></script>
        <script src="app/navigation/navigation.controller.js"></script>
        <script src="app/index.module.js"></script>
        <script src="app/main/main.controller.js"></script>
        <script src="app/core/core.run.js"></script>
        <script src="app/core/core.config.js"></script>
        <script src="app/index.run.js"></script>
        <script src="app/index.route.js"></script>
        <script src="app/index.controller.js"></script>
        <script src="app/index.constants.js"></script>
        <script src="app/index.config.js"></script>
        <script src="app/index.api.js"></script>
        <!-- endinject -->

        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->

    </body>
</html>