<!-- NOTES APP -->
<div id="products" class="" layout="column">

 

    <!-- TOOLBAR -->
    <md-toolbar class="md-accent">

        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">

            <div layout="row">

                <!-- MAIN SIDENAV BUTTON -->
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')"
                           aria-label="Toggle sidenav" translate translate-attr-aria-label="NOTES.TOGGLE_SIDENAV">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>
                <!-- / MAIN SIDENAV BUTTON -->

                <!-- MAIN TITLE -->
                <div class="main-title" layout="row" layout-align="start center">

                    <md-icon class="logo-icon mr-8" md-font-icon="icon-lightbulb"></md-icon>

                    <span class="title"
                          translate="PRODUCTS.Products">Products</span>
                  

                    <span ng-if="filteredNotes.length" class="pl-8 white-text secondary-text notes-count">
                        ({{filteredNotes.length}})
                    </span>

                </div>
                <!-- / MAIN TITLE-->

            </div>

            <div flex></div>

            <!-- SEARCH BUTTON -->
            <md-button class="md-icon-button sidenav-toggle" ng-click="vm.openSearchToolbar()"
                       aria-label="open search toolbar" translate translate-attr-aria-label="NOTES.OPEN_SEARCH_TOOLBAR">
                <md-icon md-font-icon="icon-magnify" class="icon"></md-icon>
            </md-button>
            <!-- / SEARCH BUTTON -->

        </div>

        <!-- SEARCH TOOLBAR -->
        <div ng-show="vm.searchToolbar" class="md-toolbar-tools search-toolbar animate-slide-down md-accent-bg"
             layout="row" layout-align="start center">

            <!-- TOLLBAR CLOSE BUTTON -->
            <md-button class="md-icon-button" ng-click="vm.closeSearchToolbar()" translate
                       translate-attr-aria-label="NOTES.CLOSE" aria-label="close">
                <md-icon md-font-icon="icon-close" class="mr-8"></md-icon>
            </md-button>
            <!-- / TOLLBAR CLOSE BUTTON -->

            <!-- SEARCH -->
            <input id="search-notes-input" placeholder="Search notes" type="text" ng-model="vm.search" translate
                   translate-attr-placeholder="NOTES.SEARCH_NOTES" ng-model-options="{'debounce': 200}" flex>
            <!-- / SEARCH -->

        </div>
        <!-- / SEARCH TOOLBAR -->

    </md-toolbar>
    <!-- / TOOLBAR -->

    <md-content ms-scroll flex>

        <!-- NOTES -->
        <ms-masonry class="notes" options='{"columnCount":5}'>

            <!-- NOTE -->
            <!-- Add "no-font-resize" attr for disable font resizing -->
            <ms-masonry-item class="note"
                             ng-repeat="note in vm.notes | filter:vm.search | filter:vm.filters | filterByPropIds:'labels':vm.labelFilterIds |  orderBy: 'id' | filter:query as filteredNotes track by note.id "
                             ms-note-item="note"
                             ng-click="vm.editNote($event, note.id)">
            </ms-masonry-item>
            <!-- / NOTE -->

        </ms-masonry>
        <!-- NOTES -->

        <!-- NO RESULTS -->
        <div class="no-results text-center" ng-if="filteredNotes.length === 0 &&  vm.search === ''">

            <div class="message" ng-if="vm.noteListType === 'notes'">
                <md-icon class="message-icon s96" md-font-icon="icon-lightbulb"></md-icon>
                <div class="message-text" translate="NOTES.NO_NOTES_YET">No product shown...</div>
            </div>

           
        </div>

        <div class="no-results text-center" ng-if="filteredNotes.length === 0 &&  vm.search !== ''">

            <div class="message">
                <md-icon class="message-icon s96" md-font-icon="icon-lightbulb"></md-icon>
                <div class="message-text" translate="NOTES.NO_RESULTS">No results...</div>
            </div>

        </div>
        <!-- / NO RESULTS -->

    </md-content>

</div>
<!-- / NOTES APP -->