<md-card ng-class="MsNoteItem.note.color">

    <!-- NOTE IMAGE -->
    <img ng-if="MsNoteItem.note.image" class="md-card-image" ng-src="{{MsNoteItem.note.image}}">
    <!-- / NOTE IMAGE -->

    <md-card-content>

        <!-- NOTE TITLE -->
        <md-card-title ng-if="MsNoteItem.note.title">
            <md-card-title-text>
                {{MsNoteItem.note.title}}
            </md-card-title-text>
        </md-card-title>
        <!-- / NOTE TITLE -->

        <!-- NOTE DESCRIPTION -->
        <md-description ng-if="MsNoteItem.note.description" font-size='2'>
            <span>{{MsNoteItem.note.description}}</span>
        </md-description>
        <!-- / NOTE DESCRIPTION -->

        <!-- NOTE CHECKLIST -->
        <div ng-if="MsNoteItem.note.checklist.length > 0" class="checklist">

            <div class="checklist-item" ng-repeat="checkItem in  MsNoteItem.note.checklist" layout="row"
                 layout-align="start center">
                <md-checkbox ng-model="checkItem.checked"
                             ng-click="$event.preventDefault();$event.stopPropagation()"
                             aria-label="{{checkItem.text}}"></md-checkbox>
                <span class="text-truncate" ng-class="{'text-strike md-secondary-text':checkItem.checked}" flex>{{checkItem.text}}</span>
            </div>

        </div>
        <!-- / NOTE CHECKLIST -->

        <!-- NOTE LABELS -->
        <div class="labels" ng-if="MsNoteItem.note.labels.length > 0" layout="row" layout-wrap layout-align="end start">
            <div class="label" ng-repeat="labelId in MsNoteItem.note.labels"
                 ng-click="$event.preventDefault();$event.stopPropagation();vm.filterChange(vm.labels.getById(labelId))"
                 ng-class="vm.labels.getById(labelId).color">
                {{vm.labels.getById(labelId).name}}
            </div>
        </div>
        <!-- / NOTE LABELS -->

        <!-- NOTE REMINDER -->
        <div ng-if="vm.noteListType ==='reminders' && MsNoteItem.note.reminder" class="reminder secondary-text text-right">
            <md-icon md-font-icon="icon-bell" class="s16 mr-8"></md-icon>
            <span>
                {{MsNoteItem.note.reminder | altDate}}
            </span>
        </div>
        <!-- / NOTE REMINDER -->

    </md-card-content>

</md-card>